---
import { SectionsLayout } from "@Layouts";
import { BaseLink, BaseText, BaseCard } from "@BaseComponents";
import { BaseLinkProps, BaseTextTypes } from "@Types";
import { LinesVideo } from "@Assets";
---

<video autoplay muted loop class="video-bg">
  <source src={LinesVideo} type="video/mp4">
</video>

<SectionsLayout class="home-hero" id="inicio">
  <div class="hero-content  item item-fade">
    <BaseText
      tag={BaseTextTypes.TAGS.H1}
      class="hero-title"
    >
      Soluções Tecnológicas<br>
      <span class="is-text-gradient">Resultados Reais</span>
    </BaseText>

    <BaseText
      tag={BaseTextTypes.TAGS.P}
      class="hero-paragraph"
    >
      Na busca por <span class="is-text-gradient">soluções tecnológicas</span> que entregam resultados reais?
      Estamos aqui para transformar a <span class="is-text-gradient">sua visão</span> em ação. Entre em contato hoje e dê o primeiro passo rumo à <span class="is-text-gradient">inovação digital</span>.
    </BaseText>

    <div class="get-in-touch">
      <BaseLink
        href="mailto:lucas@mitchelsistemas.com.br"
        variation={BaseLinkProps.VARIATIONS.ACTION}
      >
        Entre em contato
      </BaseLink>

      <BaseLink
        href="#servicos"
        variation={BaseLinkProps.VARIATIONS.INFO}
      >
        Saber mais
      </BaseLink>
    </div>
  </div>
</SectionsLayout>

<style scoped>
.video-bg {
  @apply h-screen absolute top-0 left-0 z-0 object-cover w-screen
}
.home-hero {
  @apply relative overflow-hidden h-screen w-screen bg-dark-blue-fade
}

.hero-content {
  @apply md:px-10 flex flex-col justify-center items-center gap-5 h-full
}
.hero-title { @apply text-center }
.hero-title .is-text-gradient { @apply font-orbitron }
.hero-paragraph {
  @apply mt-4 max-w-7xl text-center text-lg md:text-xl tracking-wider
}
.get-in-touch {
  @apply mt-4 lg:mt-8 flex flex-col sm:flex-row gap-4 sm:gap-10
}

</style>