---
import { Image } from "@astrojs/image/components";
import { TextImageSectionLayout } from "@Layouts";
import { BaseText, BaseTextTypes } from "@BaseComponents";
import { SitesPC, Apps, SEO, Support } from '@Assets';

const section = [
  {
    image: SitesPC,
    alt: "Ilustração de três pessoas participando na criação de um site.",
    title: "Desenvolvimento de Sites Personalizados",
    paragraph: "Nossos sites são feitos sob medida para atender às necessidades específicas de cada cliente. Utilizamos tecnologias e ferramentas avançadas, como AstroJs, VueJs e WordPress, para criar experiências online impressionantes e funcionais.",
    imageSide: "is-left-image",
  },
  {
    image: Apps,
    alt: "Ilustração animada de uma pessoa analisando um app em um celular.",
    title: "Aplicativos sob Medida",
    paragraph: "Ajudamos a transformar suas ideias em aplicativos inovadores que cativam seu público. Com um foco na usabilidade e desempenho, nossos aplicativos oferecem resultados tangíveis.",
    imageSide: "is-right-image",
  },
  {
    image: SEO,
    alt: "Ilustração animada de uma três pessoas analisando o design e a performance de um site.",
    title: "Design Elegante, Responsivo e Otimizado para SEO",
    paragraph: "Na Mitchel Sistemas, nosso design não é apenas visualmente cativante, mas também altamente funcional, proporcionando uma experiência excepcional em todos os dispositivos. Além disso, otimizamos o desempenho para carregamento rápido e navegação suave. Priorizamos o SEO em nossos projetos, garantindo que seu site ou aplicativo se destaque nos resultados de busca, alcançando um público mais amplo.",
    imageSide: "is-left-image",
  },
  {
    image: Support,
    alt: "Ilustração animada de uma pessoa analisando um app em um celular.",
    title: "Manutenção e Suporte",
    paragraph: "Não terminamos quando o projeto é entregue. Oferecemos serviços contínuos de manutenção e suporte para garantir que seu site ou aplicativo continue funcionando com eficiência.",
    imageSide: "is-right-image",
  },

]
---
<section class="services-section" id="servicos">
  <div class="px-6 item-slide-up">
    <BaseText
      tag={BaseTextTypes.TAGS.H2}
      class="pt-24 text-center"
      variation={BaseTextTypes.VARIATIONS.GRADIENT}
    >
      Nossos Serviços
    </BaseText>
  
    <BaseText
      tag={BaseTextTypes.TAGS.P}
      class="services-section-paragraph"
      variation={BaseTextTypes.VARIATIONS.PARAGRAPH}
    >
      Na Mitchel Sistemas, oferecemos uma gama abrangente de serviços
      de desenvolvimento de sites e softwares, cada um projetado para
      impulsionar sua presença digital e levar seus projetos ao próximo nível.
      Oferecemos serviços como:
    </BaseText>
  </div>

  {section.map((item) => (
    <TextImageSectionLayout
      class="border-divider"
      title={item.title}
      paragraph={item.paragraph}
      imageSide={item.imageSide}
    >
      <Image class="image" src={item.image} alt={item.alt} />

      <hr slot="divider" class="divider item-slide-up"></hr>
    </TextImageSectionLayout>
  ))}
</section>

<style scoped>
.services-section {
  @apply 
  bg-gradient-to-b from-fade-black via-dark-blue to-fade-black
  pb-12
}
.services-section-paragraph {
  @apply text-center max-w-[1000px] w-full mx-auto pt-6 px-5
}
.image {
  @apply max-w-md w-full
}

.divider {
  @apply h-[1px] bg-light-green mx-auto;
  max-width: calc(100% - 40px);
}

@media (min-width: 1536px) {
  .divider {
    max-width: 1496px;
    width: 100%;
  } 
}

</style>