---
import { TheFooter, TheNavbar } from "@UniqueComponents";
import DependenciesLayout from "./DependenciesLayout.astro";
import ScriptsLayout from "./ScriptsLayout.astro";

export interface Props {
  title?: string;
  lang?: string;
  description?: string;
}

const { lang, title, description } = Astro.props;

const props = {
  lang: lang ?? "pt-BR",
  title: title ?? "Mitchel Sistemas | Conectando Soluções",
  description:
    description ??
    "Meta Description do seu site AQUI",
};
---

<!DOCTYPE html>
<html lang={props.lang}>
  <head>
    <ScriptsLayout />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="description" content={props.description} />
    <meta name="generator" content={Astro.generator} />

    <title>{props.title}</title>

    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/favicon/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/favicon/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/favicon/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/favicon/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/favicon/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/favicon/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/favicon/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/favicon/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/favicon/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/favicon/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="/favicon/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#080c1c" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://sua-url-aqui" />
    <meta
      property="og:title"
      content={props.title}
    />
    <meta
      property="og:description"
      content={props.description}
    />
    <meta
      property="og:image"
      content="https://url/share-thumb"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://sua-url-aqui" />
    <meta
      property="twitter:title"
      content={props.title}
    />
    <meta
      property="twitter:description"
      content={props.description}
    />
    <meta
      property="twitter:image"
      content="https://url/share-thumb"
    />
    
  </head>

  <body>
    <DependenciesLayout>
      <TheNavbar />

      <main>
        <slot />
      </main>

      <TheFooter />
    </DependenciesLayout>
  </body>
</html>

<style>
  body {
    @apply flex min-h-screen flex-col items-center overflow-x-hidden;
  }
</style>