---
import { SectionsLayout } from "@Layouts";
import { BaseText, BaseTextTypes } from "@BaseComponents";


export interface Props {
  class?: string;
  variation?: string;
  title?: string;
  paragraph?: string;
  imageSide?: string;
}

const { class: className, variation, imageSide, title, paragraph } = Astro.props;

const dynamicClasses = [className, variation ? `is-${variation}` : ""];
---
<SectionsLayout class="services container item item-fade">
  <div class:list={[dynamicClasses, imageSide]}>
    <div class="services-images">
      <slot />
    </div>

    <div class="services-descriptions">
      <BaseText
        tag={BaseTextTypes.TAGS.H3}
        class="service-title"
        variation={BaseTextTypes.VARIATIONS.GRADIENT}
      >
        { title }
      </BaseText>

      <BaseText
        tag={BaseTextTypes.TAGS.P}
        class="service-description"
        variation={BaseTextTypes.VARIATIONS.PARAGRAPH}
      >
        { paragraph }
      </BaseText>
      
      <slot name="button" />
    </div>
  </div>

</SectionsLayout>

<slot name="divider" />

<style scoped>
.services {
  @apply py-20;
}

.is-left-image {
  @apply flex flex-col lg:flex-row items-center justify-center
}

.is-right-image {
  @apply flex flex-col lg:flex-row-reverse items-center justify-center
}

.services-images { @apply w-max lg:w-1/3 }

.services-descriptions { @apply w-full lg:w-2/3 }

.service-title {
  @apply text-center lg:text-left
}

.service-description {
  @apply mt-8 text-center lg:text-left;
}

.is-right-image .service-description { @apply lg:pr-6 }
.is-left-image .service-title,
.is-left-image .service-description { @apply lg:text-right lg:pl-6; }

.is-project-section .services-images { @apply w-max lg:w-2/4 }
.is-project-section .services-descriptions { @apply w-full lg:w-2/4 }

.services .is-project-section { @apply border-main-green }

</style>